In [5]:
import mysql.connector

In [6]:
def CreateConn():
    return mysql.connector.connect(host="localhost",database="learnvern",user="root",
                         password="")

In [7]:
def CreateTable():
    conn = CreateConn()
    cursor = conn.cursor() #it helps to execute query
    qurey = "create student table(sid int primary key auto_increment ,name VARCHAR(50))"
    cursor.execute(qurey)
    conn.commit()
    print("table created")
    conn.close()
    
    CreateTable()

2